@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #081B61;
  --secondary: #8ABFFF;
  --highlight: #c5dfff; 
  text-decoration: none;
  list-style: none; 
  font-family: Lato;
}
