.info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    color: white;
}
.facebook {
    font-size: 2rem;
    color: white;
}
.fa-address {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight:900;
}

.info:hover .facebook {
    color: rgb(255, 174, 24);
    transform: scale(1.1);
}