.logo {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}
.main-logo {
    width: 60px;
    height: auto;
}
.scroll-logo {
    width: 40px;
    height: auto;
}
.left-icon1 {
    padding-top: 0.5rem;
    font-size: 1rem;
    animation: icon1 2s ease-in-out infinite;
}
.left-icon2 {
    font-size: 2rem;
    animation: icon2 2s ease-in-out infinite;
    color: white;
}
@keyframes icon1 {
    0%{
        color: white;
        transform: translateX(0px);
        
    }
    100%{
        color: rgb(193, 193, 193, 0.3);
        transform: translateX(-10px) scale(0.5);
        
    }
}
@keyframes icon2 {
    0%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(10px);
    }
}

@media (max-width: 800px) {
    .main-logo {
        width: 40px;
    }
    .scroll-logo {
        width: 30px;
    }
}
@media (max-width: 600px){
    .left-icon1, .left-icon2 {
        display: none;
    }
}